/* Styling for hidden elements */
.hidden {
    display: none;
  }
  
  /* Margin for back button */
  .btn-back {
    margin-top: 10px;
  }
  
  /* Styling for event card */
  .event-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .event-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  